.services {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #375438;
  height: 300px;
  justify-content: space-around;
}

.card__title {
  text-align: center;
}

.card__selected {
  background-color: beige;
  padding: 20px 5px;
  border-radius: 15%;
  text-align: center;
}

.card__mobile {
  border-radius: 25px;
  padding: 15px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

@media (max-width: 720px) {
  .services {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 500px) {
  .services {
    row-gap: 2rem;
  }
}
