.nav-list {
  display: flex;
  column-gap: 2.5rem;
  list-style: none;
}

.nav-item {
  text-transform: uppercase;
  font-family: "Jost", Arial, sans-serif;
  font-size: 12px;
  color: black;
  transition: 0.5s;
  padding: 10px;
}

.nav-item:hover {
  background-color: rgb(208, 201, 190);
  border-radius: 15px;
}

.nav-item a {
  color: #000;
}

@media (max-width: 480px) {
  .nav {
    display: none;
  }
}
