
.main-img {
  background-image: url('../../Assets/photos/photo-5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 458px;
  height: 504px;
  border-radius: 0 0 0 150px;
}

.name {
  font-size: 12px;
  font-family: 'Jost',Arial,sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.ml {
  margin-left: 5rem;
}

/* requests-section */

.requests-section {
  display: flex;
  column-gap: 2rem;
}

.requests-section__info {
  padding-top: 100px;
}

.lists-container {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.main-img__requests {
  width: 600px;
  background-image: url('../../Assets/photos/photo-2.jpg');
  background-size: cover;
  background-position: top;
}

.main-img__requests--mobile {
  display: none;
  width: 100%;
  border-radius: 0 0 60px 0;
}

/* services-section */

.services-section {
  background-color: #ffffff;
}

.services-section__paragraph {
  color: #000000;
  font-size: 22px;
  font-family: 'Jost',Arial,sans-serif;
  line-height: 34px;
  font-weight: 400;
  max-width: 400px;
  margin-bottom: 40px;
}

/* signup-section */

.signup-section {
  background-color: #ffffff;
}

.mb-0 {
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .main-img {
    display: none;
  }
  .requests-section__info {
    padding-top: 0;
  }
  .main-img__requests--mobile {
    display: block;
  }
}
@media (max-width: 480px) {
  .main-img {
    width: 300px;
  }
  .lists-container {
    flex-direction: column;
    row-gap: 1rem;
  }
}