/* .header {
  background-color: rgb(229, 231, 226);
} */

.header-container {
  padding: 0.75rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  column-gap: 2.5rem;
  list-style: none;
}

.logo {
  background-image: url("../../Assets/logo_Skirko--black.svg ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 200px;
}

.nav-item {
  text-transform: uppercase;
  font-family: "Jost", Arial, sans-serif;
  font-size: 12px;
  color: black;
}

.nav-item a {
  color: #000;
}
