.footer {
  background-color: #37543894;
}
.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
}

.footer-options {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.container {
  margin-bottom: 0;
}