.signup-button {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  font-family: "Jost", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  letter-spacing: 2px;
  border-width: 1px;
  border-radius: 30px;
  background-color: #375438;
  width: 146px;
  height: 44px;
  transition: 0.5s;
}

.signup-button:hover {
  background-color: #1c2a1c;
}