.options-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.options-list__item {
  text-align: left;
  font-size: 22px;
  font-family: 'Jost',Arial,sans-serif;
  line-height: 34px;
  font-weight: 400;
}

.options-list__item::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #375438;
  display: block;
  float: left;
  margin-right: 0.5rem;
  margin-top: 14px;
  border-radius: 50%;
}